.counter {
	display: flex;
	align-items: center;
	height: 60px;
	width: 100%;
	background-color: var(--black-plate);
	border-radius: var(--border-radius);
	overflow: hidden;
	padding: 0 15px;
	gap: 10px;
	cursor: pointer;
	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 25px;
		line-height: 0;
		aspect-ratio: 1;
		font-size: 15px;
		background: linear-gradient(rgba(255, 255, 255, 0.15), transparent);
		border-radius: 50%;
	}
	&__details {
		display: flex;
		flex-direction: column;
		gap: 2px;
	}
	&__title {
		font-size: 14px;
	}
	&__unit {
		display: none;
		font-size: 8px;
		color: var(--gray);
		text-transform: uppercase;
		font-weight: var(--fw-bold);
		letter-spacing: 0.16em;
	}
	&__counter-display {
		margin-left: auto;
		display: flex;
		align-items: center;
		height: 100%;
		button {
			display: none;
			width: 45px;
			height: 100%;
			text-align: center;
			font-size: 24px;
			color: var(--gray);
			font-weight: var(--fw-x-light);
			cursor: pointer;
		}
	}
	&__value {
		font-weight: var(--fw-light);
		font-size: 32px;
		width: 40px;
		text-align: center;
	}
}

.counter--active {
	height: 75px;
	padding-right: 0;
	.counter {
		&__icon {
			transform: scale(2) translateX(-7px) rotate(-13deg);
		}
		&__unit {
			display: block;
		}
		&__counter-display button {
			display: block;
		}
		&__value {
			font-size: 40px;
		}
	}
}
