.modal {
	background-color: var(--black-plate);
	border-radius: var(--border-radius) var(--border-radius) 0 0;
	box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
	padding: 30px;
	padding-bottom: 0;
	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 0 20px;
		background-color: rgba(16, 16, 16, 0.25);
		backdrop-filter: blur(18px);
	}
	&__title {
		margin-bottom: 15px;
		font-size: 24px;
		font-weight: var(--fw-bold);
	}
	&__form {
		display: flex;
		flex-direction: column;
		gap: 15px;
		// padding: 30px 30px 10px 30px;
	}
	&__input {
		display: flex;
		flex-direction: column;
		gap: 8px;
		label {
			font-size: 8px;
			text-transform: uppercase;
			letter-spacing: 0.16em;
			font-weight: var(--fw-bold);
			color: var(--gray);
		}
		input[type="text"] {
			font-size: 20px;
			border-bottom: 1px solid rgba(255, 255, 255, 0.08);
			padding-bottom: 6px;
			&:focus {
				border-bottom: 1px solid var(--white);
			}
			&::placeholder {
				opacity: 0.1;
			}
		}
		label {
			span {
				opacity: 0.9;
			}
		}
	}
	&__controls {
		display: flex;
		flex-direction: column;
		gap: 5px;
		button {
			text-align: center;
			font-size: 10px;
			text-transform: uppercase;
			letter-spacing: 0.16em;
			font-weight: var(--fw-bold);
			color: var(--gray);
			cursor: pointer;
			padding: 15px;
			border-radius: var(--border-radius);
			&:first-of-type {
				outline: 1px solid rgba(255, 255, 255, 0.08);
			}
		}
	}
	&__dropdown {
		position: relative;
		cursor: pointer;
		&--empty {
			pointer-events: none;
			svg {
				display: none;
			}
		}
		input {
			pointer-events: none;
			width: 100%;
		}
		& > svg {
			position: absolute;
			right: 0;
			&[name="chevron"] {
				transform: translateY(-3px);
			}
		}
		&-options {
			border: 1px solid rgba(255, 255, 255, 0.08);
			z-index: 1;
			position: absolute;
			background-color: var(--black-plate);
			transform: translateY(-4px);
			border-radius: var(--border-radius);
			box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 5px;
			li {
				padding: 15px;
				&:not(:last-of-type) {
					border-bottom: 1px solid rgba(255, 255, 255, 0.08);
				}
				&.create-new {
					font-weight: var(--fw-bold);
					text-decoration: underline;
				}
			}
		}
	}
	&__preview-counter {
		display: flex;
		margin: 25px 0;
		input {
			width: 100%;
			max-width: 120px;
			font-size: 64px;
			text-align: center;
			// outline: 1px solid red;
			font-weight: var(--fw-light);
			// &:focus::placeholder {
			// 	opacity: 0;
			// }
		}
		button {
			flex: 1;
			text-align: center;
			font-size: 36px;
			color: var(--gray);
			font-weight: var(--fw-x-light);
			cursor: pointer;
		}
	}
}
