.modal-overlay {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(16, 16, 16, 0.25);
	backdrop-filter: blur(18px);
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	&__children {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
}

.modal-overlay .modal {
	background-color: var(--black-plate);
	border-radius: var(--border-radius);
	box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
	padding: 20px;
	&__title {
		font-size: 24px;
		font-weight: var(--fw-bold);
	}
	&__form {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
	&__controls {
		display: flex;
		flex-direction: column;
		background-color: var(--black-plate);
		border-radius: var(--border-radius);
		button {
			cursor: pointer;
			text-align: center;
			font-size: 12px;
			padding: 15px;
			color: var(--gray);
			text-transform: uppercase;
			font-weight: var(--fw-bold);
			letter-spacing: 0.16em;
			&:not(:last-of-type) {
				border-bottom: 1px solid rgba(255, 255, 255, 0.08);
			}
		}
	}
}
